<!DOCTYPE html>
<html lang="en">

<head>
    <title>Esportes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/user/order-details.css">
    <!--===============================================================================================-->

    <style>

    </style>
</head>

<body class="animsition">

    <!-- Header -->
    <%- include('../partials/_header') %>
        <div class="container mt-lg-5 pt-5">
            <h1 class="main_heading text-center text-dark">Order Details</h1>
            <% if (order.status !=='Payment Failure' ) { %>
                <div class="d-flex justify-content-center mt-3">
                    <a href="/download-invoice/<%= order._id %>">
                        <span class="badge badge-success" style="font-size: 0.9rem; padding: 0.8rem 1rem;">
                            Invoice Download
                        </span>
                    </a>
                </div>
                <% } %>


                    <div class="row ">
                        <div class="col-md-6 mt-3">
                            <div class="order-details mt-4 custom-border">
                                <h1 class="sub_heading text-center text-dark">Order Information</h1>
                                <div class="mt-4">
                                    <p class="text-danger"><strong class="text-dark fw-bold">Order ID : </strong>
                                        <%= order._id %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Status : </strong>
                                        <%= order.status %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Placed At : </strong>
                                        <%= order.placedAt.toDateString() %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Payment Method : </strong>
                                        <%= order.paymentMethod %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Total : </strong> ₹<%=
                                            order.paymentTotal.toFixed(2) %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Delivery Address : </strong>
                                        <%= order.address.location %>, <%= order.address.city %>,
                                                <%= order.address.state %> - <%= order.address.zip %>
                                                        (<%= order.address.addressType %>)
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- User Information -->
                        <div class="col-md-6 mt-3">
                            <div class="user-details mt-4 custom-border">
                                <h1 class="sub_heading text-center text-dark">User Information</h1>
                                <div class="mt-4">
                                    <p class="text-dark"><strong class="text-dark fw-bold">Username : </strong>
                                        <%= order.userId.username %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Email : </strong>
                                        <%= order.userId.email %>
                                    </p><br>
                                    <p class="text-dark"><strong class="text-dark fw-bold">Phone Number : </strong>
                                        <%= order.userId.phone %>
                                    </p><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <h3 class="sub_heading text-dark col-12 text-center mt-5">Products</h3>
                        <% order.items.forEach(item=> { %>
                            <div class="col-md-3 mb-4 mt-5">
                                <div class="card h-100">
                                    <% if (item.productId && item.productId.images.length> 0) { %>
                                        <img src="/uploads/<%= item.productId.images[0] %>" class="card-img-top"
                                            alt="<%= item.productId.name %>"
                                            style="max-height: 250px; object-fit: cover;">
                                        <% } else { %>
                                            <img src="/path/to/placeholder-image.jpg" class="card-img-top"
                                                alt="No image available" style="max-height: 250px; object-fit: cover;">
                                            <% } %>

                                                <div class="card-body">
                                                    <h4 class="card_heading card-title text-dark">
                                                        <%= item.productId ? item.productId.name : 'Product not found'
                                                            %>
                                                    </h4>
                                                    <p class="card-text text-dark">
                                                        <strong class="text-dark fw-bold">Quantity : </strong>
                                                        <%= item.quantity %><br>
                                                            <strong class="text-dark fw-bold">Price : </strong> ₹<%=
                                                                (item.productId ? item.productId.price : 0).toFixed(2)
                                                                %>
                                                    </p>
                                                </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45 pb-5">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>

        <%- include('../partials/_footer') %>

            <!-- Back to top -->
            <div class="btn-back-to-top" id="myBtn">
                <span class="symbol-btn-back-to-top">
                    <i class="zmdi zmdi-chevron-up"></i>
                </span>
            </div>

            <!--===============================================================================================-->
            <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/bootstrap/js/popper.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/select2/select2.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/daterangepicker/moment.min.js"></script>
            <script src="/vendor/daterangepicker/daterangepicker.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/slick/slick.min.js"></script>
            <script src="/js/slick-custom.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/parallax100/parallax100.js"></script>
            <script>$('.parallax100').parallax100();</script>
            <!--===============================================================================================-->
            <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/isotope/isotope.pkgd.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/sweetalert/sweetalert.min.js"></script>
            <!--===============================================================================================-->
            <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/userjs/product-details.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                function showOutOfStockAlert() {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Out of Stock',
                        text: 'Sorry, this product is currently out of stock!',
                        confirmButtonText: 'OK'
                    });
                }
            </script>

</body>

</html>