<!DOCTYPE html>
<html lang="en">

<head>
	<title>Esportes</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/user/product-detail.css">
	<!--===============================================================================================-->

	<style>
	
	</style>
</head>

<body class="animsition">

	<!-- Header -->
    <%- include('../partials/_header') %>
	

	<!-- breadcrumb -->
	<div class="container pt-5 mt-5">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/product" class="stext-109 cl8 hov-cl1 trans-04">
				shop
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				<%= product.name %>
			</span>
		</div>
	</div>



	<!-- Product -->
	<section class="bg0 p-t-23 px-3">
		<div class="container">
			<!-- Section Title -->
			<div class="p-b-10 px-4">
				<h3 class="ltext-103 cl5">
					Product Details
				</h3>
			</div>

			<div class="row mt-5">
				<!-- First Column: Image Gallery -->
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<!-- Slick3 Image Gallery -->
							<div class="slick3 gallery-lb">
								<% if (product.images && product.images.length > 0) { %>
								  <% product.images.forEach((image, index) => { %>
									<div class="item-slick3" data-thumb="/uploads/<%= image %>">
									  <div class="wrap-pic-w pos-relative">
										<img src="/uploads/<%= image %>" alt="IMG-PRODUCT"
										  class="img-fluid zoom-img" data-image="/uploads/<%= image %>"
										  data-zoomed-view-id="zoomedView-<%= index %>"
										  onmouseover="showZoom(this)" onmouseout="hideZoom(this)">
										<div class="zoomed-view" id="zoomedView-<%= index %>"></div>
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
										  href="/uploads/<%= image %>">
										  <i class="fa fa-expand"></i>
										</a>
									  </div>
									</div>
								  <% }) %>
								<% } else { %>
								  <p>No images available for this product.</p>
								<% } %>
							  </div>
							  
						</div>
					</div>
				</div>

				<!-- Second Column: Product Details -->
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<h4 class="mtext-100 cl2 js-name-detail p-b-14">
							<%= product.name %>
						</h4>
						<div class="rating p-b-14">
							<% for (let i=1; i <= 5; i++) { %>
								<span class="fa fa-star <%= i <= product.rating ? 'checked' : '' %>"></span>
							<% } %>
						</div>
						<p class="stext-102 cl3 p-t-20">
							<%= product.description %>
						</p>
						<span class="stext-105 cl3">
							<% if (product.discountedPrice===product.price) { %>
								<%= '₹ ' + product.price %>
									<% }else{ %>
										<%= product.discountedPrice ? '₹ ' + product.discountedPrice
											: '₹ ' + product.price %>
											<span class="original-price"
												style="text-decoration: line-through; color: red;">
												₹ <%= product.price %>
											</span>
											<% } %>
						</span>
				
						<p class="category-info stext-105 cl3 p-t-5">
							<%= product.category ? product.category.name : 'Uncategorized' %>
						</p>
				
						<p class="stock-info stext-105 cl3 p-t-5" style="color: red;">
							<%= product.stock > 0 ? product.stock + ' items available' : 'Out of stock' %>
						</p>
						<div class="p-t-33">
							<form id="addToCartForm" method="POST">
								<input type="hidden" id="productId" name="productId" value="<%= product._id %>">
								<input type="hidden" id="productStock" value="<%= product.stock %>">
								
								<button type="submit"
									class="btn btn-primary btn-md shadow-lg <%= product.stock <= 0 ? 'disabled' : '' %>"
									<% if (product.stock <= 0) { %>
										onclick="event.preventDefault(); showOutOfStockAlert();"
									<% } %>>
									Add to Cart
								</button>
							</form>
						</div>				
						<div class="p-t-20">
							<label for="review" class="stext-105 cl3">Write a review:</label>
							<textarea id="review" class="form-control" rows="4" placeholder="Share your thoughts about the product"></textarea><br>
							<button class="btn btn-success btn-md p-t-10">Submit Review</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Load more -->
		<div class="flex-c-m flex-w w-full p-t-45 pb-5">
			<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				Load More
			</a>
		</div>
		</div>
		</div>

		<%- include('../partials/_footer') %>

			<!-- Back to top -->
			<div class="btn-back-to-top" id="myBtn">
				<span class="symbol-btn-back-to-top">
					<i class="zmdi zmdi-chevron-up"></i>
				</span>
			</div>

			<!--===============================================================================================-->
			<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/bootstrap/js/popper.js"></script>
			<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/select2/select2.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/daterangepicker/moment.min.js"></script>
			<script src="/vendor/daterangepicker/daterangepicker.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/slick/slick.min.js"></script>
			<script src="/js/slick-custom.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/parallax100/parallax100.js"></script>
			<script>$('.parallax100').parallax100();</script>
			<!--===============================================================================================-->
			<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/sweetalert/sweetalert.min.js"></script>
			<!--===============================================================================================-->
			<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<script src="/js/main.js"></script>
			<script src="/userjs/product-details.js"></script>
			<script src="/userjs/detailPage.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>